<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE_MAX_HISTORY" value="90"/>
    <property name="LOG_FILE_MAX_SIZE" value="50MB"/>
    <property name="LOG_FILE" value="/usr/share/gvr-datahub/app/logs/datacenter.log"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProfile name="dev">
        <logger name="com.gvr.datahub.adaptor.wgt" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="test,production">
        <logger name="com.gvr.datahub.adaptor.wgt" level="WARN" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
</configuration>